aniso8601==3.0.2
atomicwrites==1.1.5
attrs==18.1.0
click==6.7
Flask==1.0.2
Flask-RESTful==0.3.6
idx2numpy==1.2.2
imageio==2.3.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.2.0
numpy==1.14.5
Pillow==5.1.0
pluggy==0.6.0
py==1.5.3
pyodbc==4.0.23
pytest==3.6.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.8
Werkzeug==0.14.1